body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

/* TODO: Add the 'Roboto' font from Google fonts and add it as a global CSS var called `--font-primary` */
/* TODO: Make application responsive. It is already for the most part, but it is not optimal for smaller screens.
* - Making the application responsive using the Mobile First principle.
*/

:root {
  --font-primary: "Roboto", system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  --color-brand: #413ef7;
  --color-accent: #7a7afc;
  --color-text: #1a1a1a;
  --color-text-light: #ffffff;
  --width-input: 420px;
  --border-radius-default: 12px;
}

* {
  box-sizing: border-box;
}

body {
  accent-color: var(--color-brand);
  font-size: 18px;
  font-family: var(--font-primary);
  background: var(--color-accent);
}

main {
  padding: 1rem;
}

@media (min-width: 768px) {
  main {
    padding: 2rem 3rem;
  }
}

small {
  font-weight: normal;
  font-size: 0.65em;
  color: var(--color-text-light);
}

fieldset {
  border: none;
  border-bottom: 1px solid var(--color-accent);
  border-top: 1px solid var(--color-accent);
  margin: 2rem 0;
  max-width: var(--width-input);
  padding: 1rem 0;
  width: 100%;
}

legend {
  color: var(--color-text-light);
}
